*{
	margin: 0%;
}
.navigation{
	padding: 1.2%;
}
.navigation img{
	vertical-align: middle;
}
.navigation a{
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	color: black;
	margin-left: 5%;
	font-size: 16px;
}
.logo{
	margin: 0% 8% 0% 3%;
}
#signin{
	margin-left: 10%;
	background-color: #00baf2;
	color: white;
	padding: 0.5%;
	border-radius: 25px;
	text-align: center;
}
.msg{
	font-family: 'Poppins', sans-serif;
	text-align: center;
	background-color: #F5F5F5;
	padding: 0.8%;
	font-size: 15px;
}
.sec-two{
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: space-between;
	margin: 5% 0% 5% 10%;
}
.India{
	font-size: 53px;
	margin-top: 8%;
}
.Recharge{
	font-size: 19px;
	margin:2% 0% 10% 0%;
}
.download-app{
	border: 1px solid black;
	background-color: black;
	color: white;
	padding: 2%;
	width: 50%;
	text-align: center;
	border-radius: 25px;
}
.download-app:hover{
	background-color: white;
	color: black;
}
.icon i{
	margin-left: 1%;
}
.sec3{
	font-family: 'Poppins', sans-serif;
	background-color: #00BAF2;
	color: white;
	font-size: 25px;
	padding: 4% 8%;
}
.sec3div1 a{
	text-decoration: none;
	color: white;
	font-size: 17px;
}
.sec3div1{
	display: flex;
	justify-content: space-between;
	padding: 4% 0% 3% 3%;
}
.sec4{
	font-family: 'Poppins', sans-serif;
	background-color: #0f4a8a;
	color: white;
	font-size: 25px;
	padding: 4% 8%;
}
.heading{
	font-size: 45px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 3%;
}
.sec5{
	background-color: rgba(239, 239, 239, 0.6);
	padding: 4% 12%;
}
.child1{
	display: flex;
}
.sec5div1{
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 8% 6%;
	border-radius: 5%;
}
.fastest{
	margin-top: 10%;
	font-size: 35px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 6%;
}
.load{
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
	margin-bottom: 10%;
}

